<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx.xsd
http://www.springframework.org/schema/data/jpa
http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

    <jpa:repositories base-package="neo.dmcs.repository"/>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceXmlLocation" value="classpath:META-INF/persistence.xml"/>
        <property name="dataSource" ref="dataSource"/>
        <property name="jpaVendorAdapter" ref="jpaVendorAdapter"/>
        <property name="jpaDialect" ref="jpaDialect"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
        <property name="dataSource" ref="dataSource"/>
        <property name="jpaDialect" ref="jpaDialect"/>
    </bean>

    <bean id="jpaVendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
        <property name="database" value="MYSQL"/>
        <property name="databasePlatform" value="org.hibernate.dialect.MySQL5Dialect"/>
    </bean>

    <bean id="jpaDialect" class="org.springframework.orm.jpa.vendor.HibernateJpaDialect"/>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/data"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <bean id="appLogRepository" class="neo.dmcs.repository.AppLogRepository" />
    <bean id="appPropertyRepository" class="neo.dmcs.repository.AppPropertyRepository" />
    <bean id="courseDateRepository" class="neo.dmcs.repository.CourseDateRepository" />
    <bean id="emailTemplateRepository" class="neo.dmcs.repository.EmailTemplateRepository" />
    <bean id="eventDictionaryRepository" class="neo.dmcs.repository.EventDictionaryRepository" />
    <bean id="fieldRepository" class="neo.dmcs.repository.FieldRepository" />
    <bean id="gradeRepository" class="neo.dmcs.repository.GradeRepository" />
    <bean id="notificationRepository" class="neo.dmcs.repository.NotificationRepository" />
    <bean id="sMSTemplateRepository" class="neo.dmcs.repository.SMSTemplateRepository" />
    <bean id="studentCourseRepository" class="neo.dmcs.repository.StudentCourseRepository" />
    <bean id="studentPresenceRepository" class="neo.dmcs.repository.StudentPresenceRepository" />
    <bean id="subjectRepository" class="neo.dmcs.repository.SubjectRepository" />
    <bean id="teacherCourseRepository" class="neo.dmcs.repository.TeacherCourseRepository" />
    <bean id="tokenRepository" class="neo.dmcs.repository.TokenRepository" />
    <bean id="userRepository" class="neo.dmcs.repository.UserRepository" />

    <bean id="loginService" class="neo.dmcs.service.LoginService" />
    <bean id="registerService" class="neo.dmcs.service.RegisterService" />
    <bean id="profileService" class="neo.dmcs.service.ProfileService" />

</beans>