<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="WebApplicationPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>db.Users</class>
    <class>db.Użytkownicy</class>
    <class>db.Kontakty</class>
    <class>db.UżytkownicyKursy</class>
    <class>db.Obecności</class>
    <class>db.Przedmioty</class>
    <class>db.Wydziały</class>
    <class>db.ObecnościUżytkownicy</class>
    <class>db.ObecnościTerminyzajęć</class>
    <class>db.Terminyzajęć</class>
    <class>db.UżytkownicyPrzedmioty</class>
    <class>db.Kursy</class>
    <class>db.CourseDates</class>
    <class>db.Contacts</class>
    <class>db.UsersCourses</class>
    <class>db.Departments</class>
    <class>db.UsersSubjects</class>
    <class>db.Presence</class>
    <class>db.Courses</class>
    <class>db.PresenceCourseDates</class>
    <class>db.PresenceUsers</class>
    <class>db.Subjects</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://127.0.0.1:3306/data?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.user" value="root"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value="root"/>
    </properties>
  </persistence-unit>
</persistence>
